body {
    margin: 0;
    padding-top: 200px;
    padding-left: 155px;
    background-color: #ECAD8F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AF6E4E;
    color: whitesmoke;
    box-shadow: 0px 0px 5px black;
    padding-left: 50px;
    padding-right: 50px;
}

.cart-header .header-box {
    font-size: 32px;
}

.cart-header .header-search {
    height: 50px;
    width: 300px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px;
}

.cart-sidebar {
    position: fixed;
    top: 150px;
    left: 0;
    bottom: 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AF6E4E;
    color: whitesmoke;
}

.cart-sidebar .navlink {
    border: none;
    height: 50px;
    width: 75px;
    background-color: #daa186;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
    box-shadow: 1px 1px 3px black;
}

.cart-sidebar .navlink:hover {
    background-color: #ECAD8F;
}